[submodule "src/rallycar"]
	path = src/rallycar
	url = git@github.com:YouBotica/rallycar.git
	branch =  dev_rallycar
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/robot_localization"]
	path = src/robot_localization
	url = git@github.com:YouBotica/robot_localization.git
	branch = dev_rallycar
